input {
    /* [type="text"] */
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}

.fl-label {
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #34495e;
}

.but-send {
    font-size: 1.2rem;
    font-weight: 500;
    color: #34495e !important;
    background-color: #34495e !important;
} 