$headColor: rgb(255, 87, 34) !default;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f1ea !important;
    color: #00385e !important;
    font-family: "Baloo Tamma 2", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    flex: 1 0 auto;
    padding: 20px 0;
}

footer {
    padding: 5px;
    background-color: #333;
    color: white;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
}

.font-header {
    font-family: "Baloo Tamma 2", system-ui;
    font-weight: 900;
    font-size: 2.5rem;
    color: $headColor !important;
    text-shadow: 2px 2px 3px 3px rgb(95, 94, 94);
}

.header {
    text-align: center;
}

/* ------------------ testovací prvky ------------------- */
// .b {
//     border: 2px solid red;
// }

// .c {
//     border: 2px solid lime;
// }

// .d {
//     border: 2px solid purple;
// }

// .e {
//     border: 2px solid blue;
// }

// .f {
//     border: 2px solid yellow;
// }

.headColor {
    color: $headColor !important;
}

#Pages {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    box-shadow: -2px -2px 20px 10px white;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid transparent !important;
    border-radius: 30px !important;
}

#Pages .nav-item .nav-link {
    background-color: $headColor !important;
    color: white;
    border-radius: 20px;
    border: #f8f1ea 2px solid !important;
    box-shadow: 2px 2px 3px 3px rgb(252, 169, 143);
    margin: 10px;
}

.n-button {
    background-color: $headColor !important;
    border: none;
}

.border-h1 {
    border-bottom: 3px solid $headColor !important;
    width: fit-content;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 3px 3px rgb(252, 169, 143);
}

.n-button-send {
    background-color: $headColor !important;
    border: #f8f1ea 2px solid !important;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgb(252, 169, 143);
    margin: 10px;
    padding: 10px 20px;
    color: white;
    font-size: large;
    font-weight: bold;

    transition: all 0.5s ease-in-out;
}

.n-button-rate {
    background-color: $headColor !important;
    border: #f8f1ea 2px solid !important;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgb(252, 169, 143);
    margin: 10px;
    padding: 7px 25px;
    color: white;
    font-size: medium;
    transition: all 0.5s ease-in-out;
}

.icon-plus,
.icon-minus,
.icon-remove {
    color: #999999;
    font-size: 1.2rem;
    font-weight: 500;
    user-select: none !important;
}

.icon-remove {
    color: #ff0000;
}
